
.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.recherche {
    background-color: #f8634a;
    margin-top: none;
}

body {
    background-color: #f8634a;
}

.twitter {
    width: 600px;
    border: 3px solid black;
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 1px;
}

.onestlabis {
    background-color: #e4e4e4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Stagesrecent {
    background-color: #e4e4e4;
    border: 10px;
    overflow-y: scroll;
    scollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.scroller {
    width: 750px;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    background-color: #e4e4e4;
}
