.barnav{
    text-align: center;
    margin: auto;
}

.header{
    background-color: #3c3f49;
}

.logo{
    width: 60%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.txt{
    color:rgb(174, 145, 82);
}

.navicon{
    padding: 1%;    
    color:rgb(174, 145, 82);
    filter: drop-shadow(0 0 1px rgb(53,55,69));
}

.navicon:hover {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: 5px;
    border-bottom-style:solid;
    border-color:rgb(174, 145, 82);
}  

.style-button {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(174, 145, 82);
    background-color: #3c3f49;
}
  
.style-button:hover {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: 5px;
    border-bottom-style:solid;
    border-color:rgb(174, 145, 82);
    
}

.copyright{
    color:rgb(174, 145, 82);
}

.link{
    text-decoration: none;
    color:rgb(174, 145, 82);
}

.background{
    background-color:#3c3f49;
    padding-top: 1.5%;
}

*{

    margin:0;
    
    padding:0;
    
    }
    
     
    body, html{height:100%;}
    
    body{
    
    text-align:center;
    
    }
    

    .test {
        background-color:#f8634a;
        margin-right: 10px;
        margin-left: 10px;
        border: 2px solid black;
    }
    
    .dropdown-toggle{
        border: 1px solid black;
    }
    
    .btn-danger{
        border: 1px solid black;
    }
    
    .rounded{
        border: 1px solid black;
    }
    
    
    body{
        background-color: #e4e4e4;
    }
    /* corps de page */
    
    .offre {
        margin-top: 10px;
        padding: 20px;
    }
    
    
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.5rem 1.5rem;
    }
    .avatar-text {
    
        display: flex;
        justify-content: center;
        align-items: center;
        background: #000;
        color: #fff;
        font-weight: 700;
    }
    
    .avatar {
        width: 3rem;
        height: 3rem;
    }
    
    .avatar-text2 {
    
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(207, 24, 24);
        color: #fff;
        font-weight: 700;
    }
    
    
    
    .avatar-text0 {
    
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(234, 5, 255);
        color: #fff;
        font-weight: 700;
    }
    
    .p9 {
        justify-content: center;
          
    }
    
    .sinus{
        justify-content: center;
        font-weight: 999;
        
    }