.oui{
    background-color: #e4e4e4;
}    

.txt {
      text-align: left;
  }

#date {
    text-align: right;
/*    border: 1px solid black;*/
    padding-right: 40px;
    width: 50%;
    float: right;
    font-size: 15px;
    color: black;
}
#b {
  color: black;
}


#description {
    border: 2px solid black;
    background-color: white;
    font-size: 10px;
    padding-bottom: 150px;
    width: 50%;
    position: relative;
    left: 45%;
    bottom: 300px;
}


#a {
    font-size: 15px;
    color: black;
}


.scroller {
  width: 750px;
  height: 500px;
  margin-top: 1px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  background-color: white;
  border: 1px solid black;
}

/*#e4e4e4*/

.gauche {
    border: 3px solid black;
    background-color: #f8634a;
}

.container {
    margin-left:1px;
}